# Ignore gitignore (meta!)
.gitignore

# Ignore tests
test/

# Ignore CI config
.github/

# Ignore linter config
.config/

# Ignore coverage files is redundant with gitignore, but just in case
.nyc_output
coverage/

# Ignore editor style stuff
.editorconfig

# Ignore code of conduct
CODE_OF_CONDUCT.md